.article {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
    color: #ffffff;
    z-index: 5;

    .title {
        font-weight: 900;
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .text {
            color: #e4e4e4;
            font-size: var(--font-size-xs);
            text-align: start;
            margin: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .article {
        width: 50vw;
        height: auto;

        .title {
            width: 9ch;

            &.title_adjust {
                width: 8ch;
            }
        }

        .body {

            .text {
                font-size: var(--font-size-base);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .article {
        width: 45vw;
        height: auto;

        .title {
            width: auto;
        }

        .body {

            .text {
                font-size: var(--font-size-xs);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .article {
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: 1600px) {
    .article {

        .title {
            width: 480px;
            margin: 0 auto;
        }

        .body {
            width: 480px;
            margin: 0 auto;
        }
    }
}