.section_contact {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-gray);
    z-index: 4;

    &_overlay {
        width: 100%;
        height: calc(100vh - 50px);
        max-width: 107rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        // padding: 0 1rem;
        margin: 0 auto;
        padding: clamp(1rem, 5vw, 3rem);
    }

    &_canvas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &_heading,
    &_subheading {
        width: 100%;
        flex: 0 0 50%;
        text-align: center;
    }

    &_heading {
        display: flex;
        justify-content: center;
        align-items: center;

        .heading {
            width: 100%;
            max-width: 350px;
            font-size: 2.75rem;
            font-weight: 300;
            line-height: 2.75rem;
            position: relative;

            .badge {
                width: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -4.75rem;
                left: 50%;
                z-index: 2;
                transform: translateX(-50%) rotate(-5deg);
                padding: 1rem 1.5rem;
                font-size: 1.75rem;
                font-weight: 800;
                border-radius: 50px;

                color: var(--black-light);
                background: rgba(255, 255, 255, 0.1), conic-gradient(var(--yellow), var(--black));
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);

                // background: rgba(255, 255, 255, 0.1);
                // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                // backdrop-filter: blur(10px);
                // -webkit-backdrop-filter: blur(10px);
                // border: 1px solid rgba(255, 255, 255, 0.3);
                // color: var(--black-light);

                &_label {
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    &_subheading {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        padding-bottom: 2rem;
        pointer-events: none;
        z-index: 3;

        /* .dots_pulse {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 20%;

            .dot {
                width: 8px;
                height: 8px;
                margin: 10px;
                background-color: var(--black);
                border-radius: 50%;
                transform: scale(0);
            }
        } */

        .subheading {
            width: 100%;
            max-width: 350px;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2rem;
            margin-bottom: 1rem;
        }

        .button_custom {
            pointer-events: auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .section_contact {
        height: 100dvh;

        &_overlay {
            height: 100%;
            flex-flow: row nowrap;
        }

        &_heading {
            // justify-content: flex-end;
            height: 100%;
            align-items: flex-start;
            text-align: left;
            padding-top: 15vh;
            // margin-bottom: 50vh;

            .heading {
                font-size: 3rem;
                line-height: 3.5rem;

                .badge {
                    width: 400px;
                    bottom: -6rem;
                    left: 0;
                    transform: translateX(0) rotate(-5deg);
                    // left: 100%;
                    font-size: 2.5rem;
                    padding: 1.5rem;
                }
            }
        }

        &_subheading {
            // align-items: flex-start;
            // position: relative;
            // margin-top: 30vh;
            height: 100%;
            align-items: flex-end;
            padding-bottom: 35vh; // 25vh
            text-align: right;

            /* .dots_pulse {
                flex-direction: row;
                top: 10%;

                .dot {
                    width: 10px;
                    height: 10px;
                }
                
            } */

            .subheading {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 3rem;
            }

            .button_custom {
                margin-left: auto;
                position: absolute;
                // top: 6rem;
                // left: -4.5rem;
                bottom: 25vh; // 17vh
                transform: rotate(5deg);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_contact {

        /* &_overlay {
            flex-flow: column;
        } */

        &_heading {
            justify-content: flex-start;
            // justify-content: center;
            // margin-bottom: 0;
            // padding-right: 300px;

            .heading {
                max-width: initial;
                // max-width: 500px;
                // font-size: 4rem;
                // line-height: 4.25rem;

                .badge {
                    width: 470px;
                    bottom: -1.5rem;
                    left: 35%;
                    // left: 85%;
                    padding: 1.5rem 2rem;
                    // font-size: 3.25rem;
                }
            }
        }

        &_subheading {
            align-items: flex-end;
            // justify-content: center;
            // align-items: center;
            // margin-top: 0;
            // padding-left: 300px;

            /* .dots_pulse {
                left: 65%;
                top: 7%;

                .dot {
                    width: 12px;
                    height: 12px;
                }
            } */

            /* .subheading {
                max-width: 500px;
                font-size: 3.5rem;
                line-height: 4rem;
            } */

            .button_custom {
                bottom: 22vh;
                // margin-left: auto;
                // position: absolute;
                // top: 19rem;
                // left: unset;
                // transform: rotate(5deg);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .section_contact {

        &_heading {
            padding-top: 10vh;
            font-size: 4rem;
            line-height: 4.25rem;
            // padding-right: 650px;
            // align-items: flex-end;

            .heading {
                max-width: 500px;
                // padding-right: 100px;

                /* .badge {
                    bottom: -5.25rem;
                    left: 47%;
                } */
            }

        }

        &_subheading {
            padding-bottom: 25vh;
            // justify-content: flex-start;
            // padding-top: 2rem;
            // padding-left: 650px;

            /* .subheading {
                max-width: 500px;
                font-size: 3.5rem;
                line-height: 4rem;
            } */

            .button_custom {
                bottom: 10vh;
                // top: 8rem;
                // left: unset;
                // right: 5%;
            }
        }
    }
}

/* @media screen and (min-width: 1440px) {
    .section_contact {

        &_subheading {

            .button_custom {
                right: 14%;
            }
        }
    }
} */