.section_method {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-gray);

    &_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
    }

    &_heading {
        width: 100%;
        display: flex;
        flex-basis: 100vh;
        align-items: center;
        margin-top: 2rem;
        padding: 0 1rem;
        text-align: center;
    }

    &_wrapper {
        width: 100%;
        flex-basis: 100%;
    }

    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_text {
        font-weight: 400;
        margin-top: 1rem;

        &:not(:last-of-type) {
            margin: 1rem 0 1rem;
        }
    }
}

@media screen and (min-width: 360px) {
    .section_method {
        height: calc(180vh + 2rem);
        
        &_content {
            row-gap: 2rem;
        }

        &_heading {
            flex-basis: 55vh;
            align-items: flex-end;
            margin-top: 0;
        }
    
        &_wrapper {
            flex-basis: 20vh;
        }
    }
}

@media screen and (min-width: 768px) {
    .section_method {
        height: 184vh;
        
        &_content {
            row-gap: 0;
        }

        &_heading {
            flex: 0 0 45vh;
            align-items: flex-end;
            margin-top: 0;
        }
    
        &_wrapper {
            flex: 0 0 50vh;
        }

        &_text {
            max-width: 30ch;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_method {
        height: 225vh;
        
        &_content {
            row-gap: 0;
        }

        &_heading {
            flex: 0 0 60vh;
            align-items: flex-end;
            margin-top: 0;

            h1 {
                letter-spacing: -1px;
            }
        }
    
        &_wrapper {
            flex: 0 0 50vh;
        }
    }
}