.portal_3d {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);

    &_container {
        width: 100%;
        height: 100vh;
    }
}