.horizontal_scroll {
    position: relative;
    overflow: hidden;

    &_container {
        display: flex;
        background-color: var(--black);
        overflow: hidden;

        .steps_indicator {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            position: absolute;
            top: 5.75rem;
            right: 1rem;

            .steps_indicator_label {
                color: var(--white);
                font-size: 0.85rem;
                font-weight: 200;
            }
        }
    }

    &_content {
        display: flex;
        gap: 25vw;
    }

    &_item {
        width: 100vw;
        height: 100vh;
        display: flex;

        .step_article {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            padding: 5rem 2rem 0;
    
            &_img {
                width: 100px;
                height: 100px;
                position: relative;
                margin-bottom: 1rem;
            }
    
            &_title {
                color: var(--white);
                font-size: 2rem;
                font-weight: 900;
                line-height: 2.25rem;
            }
    
            &_description {
                color: var(--gray-light);
                font-size: 0.85rem;
                text-align: start;
            }
        }
    }
}
