.aside_footer_method {
    width: 100%;
    height: 200vh;
    position: relative;
    background-color: var(--white);
    z-index: 4;

    .aside {
        width: 100%;
        height: 100%;

        .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .anim {
                width: 100%;
                flex-basis: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .body {
                width: 100%;
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
                padding: 0 1rem;
                text-align: center;

                .text {
                    margin: 1rem 0 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .aside_footer_method {
        width: 100%;
        // height: 100%;
        // position: relative;
        // background-color: var(--white);
        height: 100vh;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        z-index: 4;
    
        .aside {

            .content {
                gap: 8rem;

                .anim {
                    flex-basis: 50%;
                    align-items: flex-end;
                }

                .body {
                    flex-basis: 50%;
                    gap: 0;

                    .text {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .aside_footer_method {

        .aside {

            .content {
                // max-width: 80vw;
                max-width: 107rem;
                flex-direction: row;
                gap: 4rem;
                margin: 0 auto;
                padding: clamp(1rem, 5vw, 3rem);

                .anim {
                    order: 2;
                    flex-basis: 220px;
                    align-items: center;
                }

                .body {
                    order: 1;
                    flex-basis: 100%;
                    align-items: flex-start;
                    padding: 0;
                    text-align: start;
                }
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    .aside_footer_method {

        .aside {

            .content {
                // max-width: 80vw;
                // flex-direction: row;
                gap: 0;
                // margin: 0 auto;

                .anim {
                    order: 2;
                    align-items: center;
                }

                .body {
                    order: 1;
                    align-items: flex-start;
                    text-align: start;
                    padding: 0;
                }
            }
        }
    }
}
