.pin_container {
    width: 100%;
    height: 250vh;
    overflow: hidden;

    .svg_container {
        width: 100%;
        height: 100vh;
    }

    .section_interlude {
        width: 100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 1rem;
        position: relative;
        bottom: 0;
        left: 0;
        text-align: start;

        h2 {
            // width: 60%;
            color: var(--white);
        }

        p {
            font-size: 1.125rem;
            color: var(--gray-light);
            margin: 2rem 0 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .pin_container {
        height: auto;

        .section_interlude {
            padding: 0 2rem;
            height: 100vh;
        }
    }
}

@media screen and (min-width: 1024px) {
    .pin_container {
        height: 250vh;

        .section_interlude {
            height: 150vh;
            padding: 0 6rem;
        }
    }
}