.section_about_intro {
    width: 100%;
    // height: 200vh;

    &_content {
        width: 100%;
        height: 100%;
        
        &_heading {
            width: 100%;
            padding: 0 1rem;

            & .heading {
                width: 100%;
                height: 100%;
                max-width: 400px;
                margin: 0 auto;
                position: relative;

                &_background {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                }

                &_title {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    padding: 1rem 0;
                    z-index: 6;

                    .title_container {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        gap: 1rem;
                        padding: 4rem 0;

                        .title_item {
                            flex: 1 1 100%;

                            &:first-of-type .item_text {
                                max-width: 240px;
                            }

                            &:nth-of-type(3) {
                                display: flex;
                                flex-direction: column;
                                text-align: right;
                            }

                            .item_text {
                                /* font-size: 3rem;
                                line-height: 2.5rem; */

                                .dot {
                                    color: var(--yellow)
                                }
                            }

                            .item_img {
                                width: 100%;
                                height: 100%;
                                max-height: 320px;
                                position: relative;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }

        &_body {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 2rem;

            & .body {
                max-width: 530px;
                // font-size: 1.25rem;

                .text {
                    margin-top: 2rem;
                    // text-align: center;
                }
            }

            .sphere {
                width: 100%;
                max-width: 200px;
                margin: 4rem 0 25vh 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section_about_intro {
    
        &_content {

            &_heading {
                padding: 0;

                & .heading {
                    max-width: initial;

                    &_title {
                        padding: 1rem 1.5rem;

                        .title_container {
                            gap: 0;

                            .title_item {
                                flex: 1 1 45%;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                position: relative;

                                &:has(.item_text) {
                                    height: 250px;
                                }

                                &:first-of-type .item_text {
                                    max-width: 400px;
                                }

                                &:nth-of-type(2) .item_img {
                                    height: 300px;
                                }

                                &:nth-of-type(3) {
                                    order: 4;
                                    flex: 1 1 55%;
                                    flex-direction: row;
                                    align-items: center;
                                }

                                &:nth-of-type(4) {
                                    order: 3;
                                    flex: 1 1 35%;

                                    .item_img {
                                        height: 350px;
                                    }
                                }

                                /* .item_text {
                                    font-size: 4rem;
                                    line-height: 3.5rem;
                                } */

                                .item_img {
                                    max-height: initial;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }
                
                }
            }

            &_body {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 2rem;
    
                .sphere {
                    margin: 4rem 0 0 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_about_intro {
        padding-top: 4rem;

        &_content {

            &_heading {
                max-width: 1200px;
                margin: 0 auto;

                & .heading {

                    &_title {

                        .title_container {

                            .title_item {

                                &:first-of-type {
                                    align-items: flex-start;
                                }

                                &:nth-of-type(3) {
                                    align-items: flex-end;
                                }

                                &:nth-of-type(2) .item_img {
                                    height: 360px;
                                }

                                /* .item_text {
                                    font-size: 4.5rem;
                                    line-height: 4rem;
                                } */
                            }
                        }
                    }
                }
            }

            &_body {
                height: 200vh;

                & .body {
                    max-width: 650px;
                    // font-size: 1.25rem;
                }

                .sphere {
                    max-width: 300px;
                }
            }
        }
    }
}


@media screen and (min-width: 1440px) {
    .section_about_intro {
        padding-top: 12rem;

        &_content {

            &_heading {
                width: 100%;
                max-width: 1600px;

                & .heading {

                    &_title {

                        .title_container {

                            .title_item {

                                &:has(.item_text) {
                                    height: 350px;
                                }

                                &:nth-of-type(1) {
                                    .item_text {
                                        width: 390px;
                                    }
                                }

                                &:nth-of-type(3) {
                                    .item_text {
                                        width: 540px;
                                        margin-left: auto;
                                    }
                                }

                                /* .item_text {
                                    font-size: 5rem;
                                    line-height: 4.5rem;
                                } */

                                .item_img {

                                    &:first-of-type {
                                        height: 350px;
                                    }
                                    
                                    &:last-of-type {
                                        height: 475px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
