:root {
  --yellow: #fce300;
  --black: #1e1e1e;
  --black-medium: #212121;
  --black-light: #292929;
  --white: #ffffff;
  --gray-dark: #6b6a6a;
  --gray: #bdbdbd;
  --gray-light: #e4e4e4;
  --bg-gray: #f1f1f1;
  --border-radius: 10px;
  --border: 1px solid var(--gray-dark);
  --font-size: 18px;

  /* Titres (adaptatifs) */
  --font-size-h1: clamp(2.5rem, 6vw, 4rem); /* 45px à 72px */
  --font-size-h2: clamp(2rem, 4.5vw, 3.5rem); /* 36px à 63px */
  --font-size-h3: clamp(1.75rem, 4vw, 2.25rem); /* 31.5px à 40.5px */
  --font-size-h4: clamp(1.5rem, 3.5vw, 2rem); /* 27px à 36px */
  --font-size-h5: clamp(1.25rem, 3vw, 1.75rem); /* 22.5px à 31.5px */
  --font-size-h6: clamp(1.125rem, 2.5vw, 1.5rem); /* 20.25px à 27px */

  /* Largeur maximale des blocs de texte */
  --text-max-width: 70ch;
  --text-max-width-mobile: 90vw;

  /* Graisses typographiques */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 900;

  /* Interlignage */
  --line-height-base: 1.5;
  --line-height-titles: 1.2;
  --line-height-loose: 1.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
  color: var(--black);
  background: var(--yellow);
}

::selection {
  color: var(--black);
  background: var(--yellow);
}

html,
body {
  background-color: var(--bg-gray);
  font-size: var(--font-size);

  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  position: relative;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bricolage-grotesque);

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-titles);
}

/* h2 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.25rem;
} */

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }
h6 { font-size: var(--font-size-h6); }

p {
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-loose);
}

strong {
  font-weight: 900;
}

button {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* @media (max-width: 768px) {
  body {
    max-width: var(--text-max-width-mobile);
  }
} */

/* @media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 4rem;
    line-height: 3.5rem;
  }
} */