.logos_aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 1rem;
    background-color: var(--black);

    .logos_list {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 3rem;

        .logos_item {
            width: 180px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .logos_separator {
            width: 10px;
            height: 10px;
            margin: 0 2rem;
            background-color: var(--yellow);
            border-radius: 50%;
        }
    }
}

@media screen and (min-width: 768px) {
    .logos_aside {
        padding: 6rem 2rem;

        .logos_list {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            row-gap: 4rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .logos_aside {
        padding: 6rem 0;

        .logos_list {
            justify-content: center;

            .logos_item {
                flex-flow: row nowrap;
                column-gap: 1rem;

                &:nth-child(1) span:nth-child(1) {
                    width: 44px;
                }

                &:nth-child(3) {
                    & span:nth-child(1) {
                        width: 25px;
                    }
                    .logos_label {
                        width: 70px;
                    }
                } 

                &:nth-child(5) {

                    & span:nth-child(1) {
                        width: 25px;
                    }

                    .logos_label {
                        width: 70px;
                    }
                }

                &:nth-child(7) span:nth-child(1) {
                    width: 115px;
                }
            }
        }
    }
}