.section_skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: var(--white);

    &_body {
        width: 100%;
        max-width: 107rem;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        padding: clamp(1rem, 5vw, 3rem);
    }

    &_content {
        max-width: 32rem;
        padding-bottom: 5rem;
        // flex-basis: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;
        // row-gap: 2rem;
        // max-width: 500px;
        margin: 0 auto;
        // padding: 6rem 1rem;

        &_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &_text {
            // font-size: 1rem;
            // font-weight: 400;
            margin: 1rem 0 2rem;

            &:not(:last-of-type) {
                margin: 1rem 0 1rem;
            }

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

    &_diagram {
        width: 100%;
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 6rem 0;
        // padding: 6rem 1rem;
    }
}

@media screen and (min-width: 640px) {
    .section_skills {

        &_content {

            &_wrapper {
                align-items: center;
                justify-content: flex-start;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section_skills {
        min-height: 100vh;
        // flex-flow: row nowrap;

        &_content {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 0;
            // padding: 3rem 1rem 6rem 1rem;

            &_wrapper {
                align-items: flex-start;
                // flex-basis: 80%;
                flex-basis: 100%;
            }
        }
    
        &_diagram {
            flex-basis: 100%;
            padding: 0;
            // padding: 6rem 1rem 3rem 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_skills {
        min-height: 125vh;

        &_content {
            flex-basis: 50%;
            align-items: center;
            // max-width: 550px;

            &_text {
                font-size: var(--font-size-sm);
            }
        }

        &_diagram {
            flex-basis: 50%;
            justify-content: flex-start;
            // padding: 0rem 1rem 6rem 1rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .section_skills {

        &_content {
            flex-basis: 60%;
        }

        &_diagram {
            flex-basis: 40%;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1600px) {
    .section_skills {
        
        &_body {
            max-width: 67rem;
        }

        &_content {
            flex-basis: 50%;
            //align-items: center;
            // max-width: 550px;
        }

        &_diagram {
            flex-basis: 50%;
            justify-content: flex-start;
            // padding: 0rem 1rem 6rem 1rem;
        }
    }
}