.section_skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: var(--white);

    &_content {
        // flex-basis: 100%;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;
        // row-gap: 2rem;
        max-width: 500px;
        margin: 0 auto;
        padding: 6rem 1rem;

        &_wrapper {
            display: flex;
            flex-flow: column;
        }
    }

    &_diagram {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6rem 1rem;
    }
}

@media screen and (min-width: 640px) {
    .section_skills {

        &_content {

            &_wrapper {
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .section_skills {
        min-height: 100vh;
        flex-flow: row nowrap;

        &_content {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 0 6rem;

            &_wrapper {
                align-items: flex-start;
                flex-basis: 80%;
            }
        }
    
        &_diagram {
            flex-basis: 50%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_skills {

        &_content {

            &_wrapper {
                flex-basis: 60%;
            }
        }
    }
}