.section_services_hero {
    width: 100%;
    // height: 200vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // padding-top: 6rem;
    background-color: var(--gray-light);
    // overflow: hidden;
    // position: relative;
    // z-index: 8;

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        // position: relative;
        // overflow: hidden;

        .heading {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 0;
            left: 0;
            // z-index: 5;
            overflow: hidden;
            pointer-events: none;
        }

        .layer {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &.layer_title {
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.layer_scene {
                width: 300px;
                height: 300px;
                top: calc(50% + 50px);
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 4;
                pointer-events: none;
            }

            &.layer_cards {
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 3;
                pointer-events: none;
            }

            &.layer_cards_group {
                z-index: 2;

                .cards_group {
                    width: calc(130vh + 10vw);
                    height: calc(130vh + 10vw);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // transform: scale(0.5);
                    z-index: 1;

                    .card_perspective {

                        &:first-of-type {
                            bottom: auto;
                            transform: perspective(1000px) rotateX(-60deg);
                        }
                        
                        &:nth-of-type(2) {
                            left: auto;
                            transform: perspective(1000px) rotateY(-60deg);
                        }
                        
                        &:nth-of-type(3) {
                            top: auto;
                            transform: perspective(1000px) rotateX(60deg);
                        }
                        
                        &:last-of-type {
                            right: auto;
                            transform: perspective(1000px) rotateY(60deg);
                        }
                    }
                }
            }

            &.layer_infinite_text {
                height: 75%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                pointer-events: none;
            }
        }

        .title {
            width: 100%;
            position: relative;
            display: inline-block;

            .line {
                width: 100%;
                max-width: 85vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                visibility: hidden;

                &:first-of-type {
                    color: var(--white);
                    text-shadow: 2px 2px 15px rgba(0, 0, 0, .8);
                    top: calc(50% - 120px);
                }

                &:last-of-type {
                    color: var(--black);
                }

                & span > div {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        .card {
            background-color: #000000;
            border-radius: calc(var(--border-radius) * 2);
            overflow: hidden;

            &.card_intro {
                width: 110vw;
                height: 110vh;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transform-origin: center;
                will-change: width, height;
                z-index: 1;

                &.hidden {
                    visibility: hidden;
                }
            }

            &.card_center {
                width: 320px; // 300px
                height: 450px;
            }

            &.card_intro {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transform-origin: center;
                will-change: width, height;
                z-index: 1;

                &.hidden {
                    visibility: hidden;
                }
            }

            &.card_perspective {
                width: 60vh;
                height: 60vh;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                transform-style: preserve-3d;
                z-index: 1;
            }
        }

        .body {
            width: 100%;
            // max-width: 530px;
            height: 100vh;
            margin: 0 auto;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .text {
                max-width: 530px;
                margin: 1rem 0 1rem;
            }
        }

        .aside {
            width: 100%;
            height: 50vh;
        }
    }
}

@media screen and (min-width: 768px) {
    .section_services_hero {

        .content {

            .layer {

                &.layer_scene {
                    top: 50%;
                }

                &.layer_infinite_text {
                    height: 100%;
                }
            }

            .title { 

                .line {

                    &:first-of-type {
                        color: var(--white);
                        text-shadow: 2px 2px 15px rgba(0, 0, 0, .8);
                        top: 50%;
                    }
                }
            }

            .body {
                height: 50vh;
                padding: 0;
            }
        }
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .section_services_hero {

        .content {

            .card {

                &.card_center {
                    width: 650px; // 500px
                    height: 867px; // 700px
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .section_services_hero {

        .content {

            .card {

                &.card_center {
                    width: 700px; // 700px
                    height: 500px; // 500px
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section_services_hero {

        .content {

            .layer {

                &.layer_scene {
                    width: inherit;
                    height: inherit;
                    top: inherit;
                    left: inherit;
                    transform: inherit;
                    z-index: 4;
                    pointer-events: none;
                }
            }

            .card {
    
                &.card_center {
                    width: 900px; // 700px
                    height: 506px; // 500px
                }
            }

            .body {
                height: 100vh;
                justify-content: center;
            }

            .aside {
                width: 100%;
                height: 100vh;
            }
        }

    }
}

@media screen and (min-width: 1440px) {
    .section_services_hero {

        .content {

            .card {

                &.card_center {
                    width: 900px; // 875px
                    height: 675px; // 625px
                }
            }
        }

    }
}

@media screen and (min-width: 2048px) {
    .section_services_hero {

        .content {

            .card {

                &.card_center {
                    width: 1225px;
                    height: 875px;
                }
            }
        }

    }
}