.brand {
    height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 1rem;

    &__name {
        display: flex;
        flex-direction: column;
        color: var(--white);
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.5rem;
    }

    .dot {
        width: 0.65rem;
        height: 0.65rem;
        align-self: flex-end;
        margin-left: 0.125rem;
        background-color: var(--white);
        border-radius: 100%;
    }
}

@media screen and (min-width: 768px) {
    .brand {
        margin-left: 2rem;
    }
}