.aside_footer_services {
    width: 100%;
    height: 150vh;
    position: relative;
    background-color: var(--white);
    z-index: 4;

    @media screen and (min-width: 360px) {
        height: 120vh;
    }

    .aside {
        width: 100%;
        height: 100%;

        .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .anim {
                width: 100%;
                // flex-basis: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .body {
                width: 100%;
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
                padding: 0 1rem;
                text-align: center;

                .text {
                    margin: 1rem 0 -2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .aside_footer_services {
        width: 100%;
        // height: 100%;
        // position: relative;
        // background-color: var(--white);
        height: 100vh;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        z-index: 4;
    
        .aside {

            .content {
                // gap: 8rem;

                .anim {
                    flex-basis: 40%;
                    align-items: flex-end;
                }

                .body {
                    flex-basis: 60%;
                    gap: 0;

                    .text {
                        font-size: 1.25rem;
                        margin: 1rem 0 2rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .aside_footer_services {

        .aside {

            .content {
                max-width: 51.5rem;
                flex-direction: row;
                justify-content: center;
                gap: 0;
                margin: 0 auto;

                @media screen and (min-width: 1200px) {
                    max-width: 60rem;
                }

                .anim {
                    order: 2;
                    flex: 1 0 20%;
                }

                .body {
                    order: 1;
                    flex: 1 0 45%;
                    align-items: flex-start;
                    text-align: start;
                    padding: 0;

                    @media screen and (min-width: 1200px) {
                        // flex: 1 0 45%;
                        padding-right: 8rem;
                    }
                }
            }
        }
    }
}